@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@900&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 } 

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-image: url(pc.jpg);
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Poppins', sans-serif;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 
  .lofi{
    font-size: 2em;
    color: aliceblue;
    cursor: none;
  }
   
  .navigation a{
    position: relative;
    font-size: 1em;
    color: rgb(22, 170, 180);
    text-decoration:dotted;
    font-weight: 500;
    margin-left: 30px;
  }
  .navigation .Login{
    width: 80px;
    height: 40px;
    background: transparent;
    border: 2px solid  #fff;
    outline: none ; 
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 400;
    margin-left: 20px;
  }
  .navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgb(175, 10, 10);
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: center;
  }

  .navigation  a:hover::after{
    transform: scaleX(1);
  }

  .Dev{
    position: relative;
    width: 400px;
    height: 500px;
   background-color: azure;
    border: 2px solid blanchedalmond;
    border-radius: 20px;
    display: flex;
    justify-content: center;
  }
  .Dev .Box1{
    width: 100%;
    padding: 40px;

  }
  .Box1 h2{
    font-size: 35px;
    font-weight: 800;
   color: solid black;
   text-align: center;
  }
 .Box2 {
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid black;
    margin: 30px 0px;
  }
 .Box2 label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: solid black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
    
  } 

  .Box2 input:focus~label,
  .Box2 input:valid~label{
     top: -5%;
  }
    
  .Box2 input{
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 1em;
    font-weight: 500;
    border: none;
    outline: none;
    padding: 0px 35px 0px 5px;
    color: rgb(33 28 134);
  }

  .Rember{
    font-size:15px;
    font-weight: 500;
    padding-bottom: 20px;
    margin: 15px 0px -15px;
    justify-content: space-between;
  }
  .Rember a{
    color: #162938;
    text-decoration: none;
  }
  .Rember  a:hover{
    text-decoration: underline;
    color: blueviolet;
  }

  .btn{
    width: 100%;
    height: 45px;
    background-color: #162938;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px; 
    font-size: 1em;
    color: #fff;
    font-weight: 400;
  }
  
  .Register{
    font-size: 1em;
    color: #162938;
    text-align: center;
    font-family: 500;
    margin: 25px 0 10px; 
  }

  .Register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 400;
  }

  .Register p a:hover{
    text-decoration: underline;
    color:blueviolet;
  }
